body {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  background: #001433;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 6rem;
  border-radius: 20px;
  background-image: url("../images/bg_brl.png");
  padding-bottom: 11rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-y: 10px;
  background-position-x: 0;
}

.content_idioma {
  background: #713ddf;
  width: 74px;
  height: 37px;
  border-radius: 25px;
  margin-top: 9px;
}

.btn_idioma {
  background: transparent;
  border: none;
  text-align: center;
  padding: 7px 8px;
  color: white;
  font-weight: 400;
}

.btn_active {
  background: #000;
  border-radius: 50%;
  padding: 4px 6px;
  margin-left: 3px;
}

.box_item_header {
  box-sizing: border-box;
  border: 2.5px solid #33435c;
  padding: 10px;
}

.box_item_header h4 {
  font-size: 13px;
  line-height: 10px;
  font-weight: 700;
}

.box_item_header p {
  margin-bottom: 0;
  line-height: 11px;
  font-size: 14px;
}

.pdcol {
  padding: 0 3px;
}

.hr_line {
  background-color: #4d5c71;
  height: 1.4px;
}

/***************************************/
.box_input_token {
  align-items: center;
  background-image: url("https://stake.bullrockswap.finance/img/rectangle-5-17@2x.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;

  min-height: 113px;
  /* padding: 17px 27px; */

  /* width: 394px; */
}

.box_input_token {
  background-color: #545965;
  background-repeat: no-repeat;

  /* padding-bottom: 34px; */
  /* height: 8rem; */
  margin-top: 1.6rem;
  padding: 1.68rem 2rem;
}

.box_input_token h4 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 13px;
}

.input_token {
  background-image: url("https://stake.bullrockswap.finance/img/base-3@2x.png");
  background-repeat: no-repeat;
  align-items: flex-end;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 197px;
  padding: 5px 31px;
}

.input_style {
  border: none;
  position: absolute;
  left: 13px;
  color: #1ad497;
  top: 4px;
  background: transparent;
  width: 168px;
}

.btn_calculate {
  background-image: url("https://cdn.animaapp.com/projects/611fa224948c08a7cf31c815/releases/611fa28199abbbe76c9af217/img/base@2x.svg");
  background-size: cover;
  padding: 1px 24px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 17px;
  letter-spacing: 6px;
  font-size: 10px;
  margin-left: 10px;
  font-weight: 500;
}

.content_calcultor {
  display: flex;
}

.card_blr {
  background: #585d68;
  padding: 20px 10px;
  border: 2px solid #7a7f87;
  text-align: center;
}

.card_blr h5 {
  font-size: 13px;
  line-height: 10px;
  font-weight: 700;
}

.card_blr p {
  margin-bottom: 0;
  line-height: 11px;
  font-size: 14px;
}

.colpaleft {
  padding-left: 10rem;
}

.title_blr {
  letter-spacing: 6px;
  font-size: 12px;
  margin-bottom: 13px;
}

.bold_title_blr {
  font-weight: 700;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/********************************************************************/
.title_footer_blr {
  font-size: 16px;
  letter-spacing: 12px;
}

.card_footer_result {
  background-color: #545965;
  border: 2px solid #7a7f87;
  padding: 10px 0;
  height: 60px;
}

.card_footer_result h5 {
  line-height: 11px;
  font-size: 12px;
}

.card_footer_result p {
  line-height: 12px;
  margin-bottom: 0;
  font-size: 9px;
}

.mr-4px {
  margin-right: 3px;
}

.pt_27px {
  padding-top: 27px;
}

.text_footer {
  font-size: 11px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 17px;
}

.fs-10px {
  font-size: 10px !important;
}

.pt5px {
  padding-top: 5px !important;
}

.mb_5px {
  margin-bottom: 5px;
}
